body
{
background-color:skyblue;
font-family: 'Indie Flower', cursive;
}

.header_div
{
    background-color: white;
    color:purple;
    font-size: 40;
}

#note
{
    color:black;
    letter-spacing: 2px;
    font-size: 20px;
}

.main_div button
{
    margin-top: 40px;
    width: 150px;
    letter-spacing: 5px;
    font-size: 20px;
}

.copy_right_footer
{
    position: fixed;
    text-align: center;
    font-size: 30px;
    background-color: white;
    width: 100%;
    bottom: 0;
    text-shadow: 5px 5px 5px grey;    
}